"github.com/docker/docker/api/types"
"github.com/docker/docker/client"
"github.com/docker/docker/api/types/container"
"github.com/docker/go-connections/nat"

"github.com/mholt/archiver"
"gopkg.in/src-d/go-git.v4"
"github.com/davecgh/go-spew/spew"
"gopkg.in/yaml.v2"
"github.com/op/go-logging"
"github.com/gin-gonic/gin"
"github.com/satori/go.uuid"
